{% extends "base.html" %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}
  <div class="container py-5"> 
    <!--Виталий, я сначала так и сделал, т.е. засунул этот тег в базу
    но потом в одном из заданных шаблонов его как на зло не оказалось,
    я не знал что делать, в итоге вытащил его и рассовал по всем кроме
    одного шаблона, но дальше как казалось, без него было только хуже
    в том самом шаблоне, и я решил его добавить и туда, в Шаблон
    страницы просмотра записи (post_detail.html - там нет этоготега после
    <main>), я писал об этом наставникам, что зря он удален из учебника-->
    <h1>Привет, я автор</h1>
    <p>
      Тут я размещу информацию о себе, используя свои умения верстать.
      Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
    </p>
  </div>
{% endblock %} 
